@charset "UTF-8";
.container-fluid main .cajaClientes .descripcionCliente .clientes {
  background: rgba(74, 74, 74, 0.302);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% auto;
  width: 80%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; }

@media screen and (max-width: 1024px) {
  .container-fluid main .cajaClientes .descripcionCliente .clientes {
    height: 250px; } }

@media screen and (max-width: 768px) {
  .container-fluid main .cajaClientes .descripcionCliente .clientes {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10%;
    height: 100%; } }

.container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img1 {
  width: 30%;
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img2, .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img3 {
  width: 25%;
  transition: 0.8s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.container-fluid main .cajaClientes .descripcionCliente .clientes p {
  color: white;
  width: 70%;
  text-align: center;
  margin: 7% 2%;
  font-size: calc(0.4em + 1vw); }
  @media screen and (max-width: 768px) {
    .container-fluid main .cajaClientes .descripcionCliente .clientes p {
      width: 80%;
      font-size: 1rem; } }

.container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg {
  width: 70%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 1024px) {
    .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg {
      margin-top: 0%; } }
  @media screen and (max-width: 768px) {
    .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg {
      width: 80%;
      margin-top: 10%; } }

.container-fluid .contenido2 .servicios .servicioDer, .container-fluid .contenido2 .servicios .servicioIzq {
  display: flex;
  background-color: rgba(204, 204, 255, 0.692);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }

.container-fluid .contenido2 .servicios .servicioDer .descripcionServicio .textoDeCajas, .container-fluid .contenido2 .servicios .servicioIzq .descripcionServicio .textoDeCajas {
  margin: 0% 10% 5% 10%;
  text-align: center;
  color: black;
  font-size: calc(0.4em + 1vw); }
  @media screen and (max-width: 768px) {
    .container-fluid .contenido2 .servicios .servicioDer .descripcionServicio .textoDeCajas, .container-fluid .contenido2 .servicios .servicioIzq .descripcionServicio .textoDeCajas {
      width: 80%;
      font-size: 1rem; } }

/*--------------------------------------------------------
ESTILOS GENERALES. MENÚ
--------------------------------------------------------*/
header .navbar {
  position: fixed;
  width: 100%;
  z-index: 200;
  background-color: #a6a6fb;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }
  header .navbar .container-fluid .navbar-brand {
    width: 8%;
    margin-left: 5%; }
    header .navbar .container-fluid .navbar-brand .logo {
      width: 80%; }
      @media screen and (max-width: 992px) {
        header .navbar .container-fluid .navbar-brand .logo {
          width: 100px;
          margin-left: 20px; } }
  header .navbar .container-fluid .navbar-toggler {
    margin-right: 15px; }
  @media screen and (min-width: 992px) {
    header .navbar .container-fluid .navbar-collapse {
      display: flex;
      justify-content: center;
      height: 30px;
      margin-right: 10%; } }
  header .navbar .container-fluid .navbar-collapse .navbar-nav {
    width: 100%;
    justify-content: center; }
    @media screen and (max-width: 992px) {
      header .navbar .container-fluid .navbar-collapse .navbar-nav {
        width: 100%; } }
    @media screen and (max-width: 992px) {
      header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
        display: flex;
        justify-content: center;
        margin: 1%; } }
    @media screen and (min-width: 992px) {
      header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
        margin: 3%; } }
    header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
      border-radius: 0px;
      background-color: none;
      color: white;
      text-transform: uppercase;
      font-weight: 600; }
      @media screen and (max-width: 992px) {
        header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
          text-align: center;
          width: 170px;
          padding: 0%; } }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        transform: scale(1.2);
        padding-block-end: 3px;
        border-bottom: 1px solid; }

/*--------------------------------------------------------
ESTILOS GENERALES. MAIN 
--------------------------------------------------------*/
body {
  background-color: #f8f8f8;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  body .container-fluid {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0; }
    body .container-fluid main {
      grid-area: main;
      min-height: 100vh; }
      @media screen and (max-width: 768px) {
        body .container-fluid main {
          margin-top: 20%; } }
      @media screen and (max-width: 480px) {
        body .container-fluid main {
          margin-top: 25%; } }
      body .container-fluid main #tituloPrincipal {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 10%;
        letter-spacing: 5px;
        font-size: calc(1.9em + 1vw);
        color: #1229fa;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
      body .container-fluid main .tituloSecundario {
        text-align: center;
        color: black;
        font-size: calc(0.8em + 1vw);
        margin: 2%; }
        @media screen and (max-width: 1024px) {
          body .container-fluid main .tituloSecundario {
            font-size: calc(1.2em + 1vw); } }
      body .container-fluid main .subtitulo {
        position: relative;
        color: black;
        margin: 3% 20% 10% 20%;
        text-align: center;
        font-size: calc(0.3em + 1vw);
        font-size: calc(0.4em + 1vw); }
        @media screen and (max-width: 768px) {
          body .container-fluid main .subtitulo {
            font-size: 1rem;
            margin: 2% 5% 5% 5%; } }

/*--------------------------------------------------------
ESTILOS GENERALES. FOOTER
--------------------------------------------------------*/
footer {
  grid-area: footer;
  padding: 10px;
  align-items: center;
  background-color: #a6a6fb;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }

.derechos {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0%;
  color: white; }

/*--------------------------------------------------------
ESTILOS INDEX
--------------------------------------------------------*/
.container-fluid main .videosPresentacion > video {
  width: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; }

.container-fluid main #tituloHome {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5%;
  letter-spacing: 5px;
  font-size: calc(1.9em + 1vw);
  color: #1229fa;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

/*--------------------------------------------------------
ESTILOS PAGE NOSOTROS
--------------------------------------------------------*/
.container-fluid {
  width: 100%; }
  .container-fluid .tituloSecundario {
    margin: 3%;
    font-size: calc(1.2em + 1vw); }
    @media screen and (max-width: 768px) {
      .container-fluid .tituloSecundario {
        margin: 10%; } }
  .container-fluid .historia {
    margin: 5% auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; }
    .container-fluid .historia .imagen1 {
      width: 50%;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
      @media screen and (max-width: 768px) {
        .container-fluid .historia .imagen1 {
          margin-top: 20px;
          width: 80%; } }
    .container-fluid .historia .cajaTextosNosotros {
      display: flex;
      flex-direction: row;
      align-items: center; }
      @media screen and (max-width: 768px) {
        .container-fluid .historia .cajaTextosNosotros {
          flex-direction: column; } }
      .container-fluid .historia .cajaTextosNosotros p {
        font-size: calc(0.3em + 1vw);
        color: #8b8b8b;
        text-align: start;
        width: 60%;
        margin: 5%; }
        @media screen and (max-width: 768px) {
          .container-fluid .historia .cajaTextosNosotros p {
            width: 80%;
            font-size: 1em;
            text-align: start;
            margin-top: 30px; } }
  .container-fluid .fondoTexturado {
    background-color: rgba(74, 74, 134, 0.719);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    padding: 5% 0 5% 0;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 768px) {
      .container-fluid .fondoTexturado {
        padding-top: 2%; } }
    .container-fluid .fondoTexturado .carruselPersonal {
      width: 100%;
      display: none; }
      @media screen and (max-width: 768px) {
        .container-fluid .fondoTexturado .carruselPersonal {
          margin-top: 0px;
          display: block;
          margin: 0% auto;
          width: 70%; } }
    .container-fluid .fondoTexturado .personal {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%;
      position: relative; }
      @media screen and (max-width: 768px) {
        .container-fluid .fondoTexturado .personal {
          display: none; } }
      .container-fluid .fondoTexturado .personal .puesto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1% 0 1%; }
        .container-fluid .fondoTexturado .personal .puesto .fotoPersonal {
          width: 70%;
          margin-bottom: 10%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
          @media screen and (max-width: 768px) {
            .container-fluid .fondoTexturado .personal .puesto .fotoPersonal {
              width: 200px; } }
        .container-fluid .fondoTexturado .personal .puesto p {
          font-size: calc(0.3em + 1vw);
          color: black;
          text-transform: uppercase;
          font-weight: 600;
          margin: 1%; }
        .container-fluid .fondoTexturado .personal .puesto .nombreSector {
          color: aqua;
          font-size: 800px; }

/*--------------------------------------------------------
ESTILOS PAGE SERVICIOS
--------------------------------------------------------*/
.container-fluid .contenido2 .servicios {
  display: grid;
  grid-template-areas: "caja1" "caja2" "caja3" "caja4";
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 5%; }
  .container-fluid .contenido2 .servicios .servicioDer {
    grid-area: caja1;
    margin: 0% 23% 0% 0px;
    border: solid 0px;
    border-radius: 20px; }
    @media screen and (max-width: 1024px) {
      .container-fluid .contenido2 .servicios .servicioDer {
        margin: 0%; } }
    @media screen and (max-width: 768px) {
      .container-fluid .contenido2 .servicios .servicioDer {
        flex-direction: column;
        margin: 0%; } }
    .container-fluid .contenido2 .servicios .servicioDer .imgServicio1 {
      width: 30%;
      border-radius: 20px 0px 0px 20px; }
      @media screen and (max-width: 1024px) {
        .container-fluid .contenido2 .servicios .servicioDer .imgServicio1 {
          width: 30%; } }
      @media screen and (max-width: 768px) {
        .container-fluid .contenido2 .servicios .servicioDer .imgServicio1 {
          width: 100%;
          border-radius: 20px 20px 0px 0; } }
  .container-fluid .contenido2 .servicios .servicioIzq {
    grid-area: caja2;
    margin: 0% 0% 0% 23%;
    flex-direction: row-reverse;
    border: solid 0px;
    border-radius: 20px; }
    @media screen and (max-width: 1024px) {
      .container-fluid .contenido2 .servicios .servicioIzq {
        margin: 0%; } }
    @media screen and (max-width: 768px) {
      .container-fluid .contenido2 .servicios .servicioIzq {
        flex-direction: column;
        margin: 0%; } }
    .container-fluid .contenido2 .servicios .servicioIzq .imgServicio2 {
      width: 30%;
      border-radius: 0px 20px 20px 0px; }
      @media screen and (max-width: 1024px) {
        .container-fluid .contenido2 .servicios .servicioIzq .imgServicio2 {
          width: 30%; } }
      @media screen and (max-width: 768px) {
        .container-fluid .contenido2 .servicios .servicioIzq .imgServicio2 {
          width: 100%;
          border-radius: 20px 20px 0px 0; } }
  .container-fluid .contenido2 .servicios .servicioDer--grid {
    grid-area: caja3; }
  .container-fluid .contenido2 .servicios .servicioIzq--grid {
    grid-area: caja4; }

.container-fluid .contenido2 .imgPresupuesto {
  width: 8%;
  position: fixed;
  top: 75%;
  right: 5%;
  animation-name: presupuesto;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-direction: alternate; }
  @media screen and (max-width: 768px) {
    .container-fluid .contenido2 .imgPresupuesto {
      width: 25%; } }

@keyframes presupuesto {
  from {
    transform: rotate(0.95turn); }
  to {
    transform: rotate(1.05turn); } }

/*--------------------------------------
   ESTILOS PAGE NUESTROS CLIENTES
   --------------------------------------*/
.container-fluid main .cajaClientes {
  grid-template-columns: 1fr; }
  @media screen and (max-width: 768px) {
    .container-fluid main .cajaClientes {
      margin: 20% 0% 0%; } }
  .container-fluid main .cajaClientes .descripcionCliente span {
    display: flex;
    justify-content: center;
    font-size: calc(1.5em + 1vw);
    color: black; }
    @media screen and (max-width: 768px) {
      .container-fluid main .cajaClientes .descripcionCliente span {
        text-align: center;
        font-size: 2rem; } }
  @media screen and (max-width: 768px) {
    .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img1 {
      width: 40%; } }
  .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img2 {
    margin: 0 5% 13% 0; }
    @media screen and (max-width: 768px) {
      .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img2 {
        width: 35%; } }
    .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img2:hover {
      width: 30%;
      z-index: 100; }
      @media screen and (max-width: 768px) {
        .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img2:hover {
          width: 40%; } }
  .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img3 {
    margin: 13% 0 0% 0%; }
    @media screen and (max-width: 768px) {
      .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img3 {
        width: 35%; } }
    .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img3:hover {
      width: 30%;
      z-index: 100; }
      @media screen and (max-width: 768px) {
        .container-fluid main .cajaClientes .descripcionCliente .clientes .cajaImg .img3:hover {
          width: 40%; } }

/*--------------------------------------------------------
ESTILOS CONTACTO
--------------------------------------------------------*/
.container-fluid .contenido4 {
  grid-area: main;
  display: grid;
  min-height: 50em;
  grid-template-areas: "tituloContacto" "cajaRedes" "cajaFormulario";
  grid-template-columns: 1fr;
  /*ESTILOS FORMULARIO*/ }
  .container-fluid .contenido4 .tituloContacto {
    grid-area: tituloContacto; }
    .container-fluid .contenido4 .tituloContacto p {
      color: black;
      text-align: center;
      margin: 5%;
      font-size: calc(0.8em + 1vw); }
  .container-fluid .contenido4 .Redes {
    grid-area: cajaRedes;
    background-color: rgba(74, 74, 74, 0.302);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
    .container-fluid .contenido4 .Redes .logos {
      display: flex;
      justify-content: center;
      margin: 3%;
      width: 30%;
      margin-left: 35%; }
      @media screen and (max-width: 768px) {
        .container-fluid .contenido4 .Redes .logos {
          display: flex;
          flex-direction: column; } }
      .container-fluid .contenido4 .Redes .logos .logoRedes {
        text-decoration: none;
        color: black;
        font-size: calc(0.3em + 1vw);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2%; }
        @media screen and (max-width: 768px) {
          .container-fluid .contenido4 .Redes .logos .logoRedes {
            font-size: 0.8em; } }
        .container-fluid .contenido4 .Redes .logos .logoRedes img {
          width: 30%; }
          @media screen and (max-width: 768px) {
            .container-fluid .contenido4 .Redes .logos .logoRedes img {
              width: 40%; } }
  .container-fluid .contenido4 .cajaFormulario {
    grid-area: cajaFormulario;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%; }
    .container-fluid .contenido4 .cajaFormulario .formulario {
      background-color: rgba(74, 74, 134, 0.719);
      align-items: center;
      width: 50%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border-radius: 20px;
      padding: 2%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
      @media screen and (max-width: 768px) {
        .container-fluid .contenido4 .cajaFormulario .formulario {
          margin-top: 5%;
          width: 100%; } }
      .container-fluid .contenido4 .cajaFormulario .formulario .tituloFormulario {
        color: black;
        margin-bottom: 3%;
        font-weight: 200;
        font-size: calc(0.6em + 1vw);
        text-align: center; }
        @media screen and (max-width: 768px) {
          .container-fluid .contenido4 .cajaFormulario .formulario .tituloFormulario {
            margin: 5%; } }
      .container-fluid .contenido4 .cajaFormulario .formulario fieldset label {
        font-size: calc(0.4em + 1vw); }
        @media screen and (max-width: 768px) {
          .container-fluid .contenido4 .cajaFormulario .formulario fieldset label {
            font-size: 1em; } }
      .container-fluid .contenido4 .cajaFormulario .formulario fieldset .tipoCliente {
        display: flex;
        align-items: center; }
        @media screen and (max-width: 480px) {
          .container-fluid .contenido4 .cajaFormulario .formulario fieldset .tipoCliente {
            margin: 2% 0 5% 0; } }
        .container-fluid .contenido4 .cajaFormulario .formulario fieldset .tipoCliente .textoTipo {
          margin: 3% 4% 3% 0%;
          font-size: calc(0.1em + 1vw); }
          @media screen and (max-width: 768px) {
            .container-fluid .contenido4 .cajaFormulario .formulario fieldset .tipoCliente .textoTipo {
              font-size: 1em; } }
        .container-fluid .contenido4 .cajaFormulario .formulario fieldset .tipoCliente select {
          margin-left: 4%; }
      .container-fluid .contenido4 .cajaFormulario .formulario fieldset .textarea {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .container-fluid .contenido4 .cajaFormulario .formulario fieldset .textarea h4 {
          font-size: calc(0.5em + 1vw);
          font-weight: 100;
          text-align: center; }
      .container-fluid .contenido4 .cajaFormulario .formulario fieldset .terminosYcondiciones {
        display: flex;
        justify-content: center;
        margin: 2%; }
        .container-fluid .contenido4 .cajaFormulario .formulario fieldset .terminosYcondiciones input {
          margin: 6px; }
      .container-fluid .contenido4 .cajaFormulario .formulario fieldset .botones {
        display: flex;
        justify-content: center; }
        .container-fluid .contenido4 .cajaFormulario .formulario fieldset .botones .boton {
          padding: 1%;
          border-radius: 10px;
          background-color: white;
          font-size: 15px;
          font-weight: 700; }
