

//extends son aplicados a la page portafolio

%fondo-cliente{
    background: $gris-fondo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    width: 80%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
%media-clientes{
    @media screen and (max-width:1024px){
        height: 250px;
        }    
    @media screen and (max-width:768px){
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10%;
        height: 100%;
        }    
}

%imagen-principal{
    width: 30%;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

%imagen-secundaria{
    width: 25%;
    transition: 0.8s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
%texto-cliente{
    color: white;
    width: 70%;
    text-align: center;
    margin: 7% 2%;
    font-size: calc(0.4em + 1vw);
    @media screen and (max-width:768px){
        width: 80%;
        font-size: 1rem;
    }
}
%caja-imagenes{
    width: 70%;
    display: flex;
    position: relative;
    align-items: center; 
    justify-content: center;
    @media screen and (max-width:1024px){
        margin-top:0%;
    }
    @media screen and (max-width:768px){
        width: 80%;
        margin-top: 10%;
    }
}


//extends aplicados a servicios
%cajas-general{
    display: flex;
    background-color: rgba(204, 204, 255, 0.692);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

%text-servicios{
    margin: $margin-titulo;
    text-align: center;
    color: $text-black;
    font-size: calc(0.4em + 1vw);
    @media screen and (max-width:768px){
        width: 80%;
        font-size: 1rem;
    }
}

%prop-titulo{
    margin: 2% 0% 3% 0%;
    color: white;
    font-size: calc(0.8em + 1vw);
    text-shadow: 1px 1px 10px #000000;
}
