
$premium: (
    border-premium: 0px,
    background-premium: none,
);


$standard: (
    padding-standard: 1%,
    border-standard: 10px,
    background-standard: white,
    font-standard: 15px,
    weight-standard: 700,
);
//aplicado a boton de formulario