
$gris-fondo:hsla(0, 0%, 29%, 0.302);
$text-black: black;
$background-color: rgb(166, 166, 251);
$box-menu: box-shadow rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$background-contacto: rgba(182, 182, 229, 0.719);
$box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

//margin de titulo pages servicios

$margin-titulo: 0% 10% 5% 10%;