

/*--------------------------------------------------------
ESTILOS CONTACTO
--------------------------------------------------------*/
.navContacto{
   .navbar{
       top: 0%;
   }
}    
.contenidoContacto{
        grid-area: main;
        display: grid;
        grid-template-areas: "tituloContacto"
                                "cajaRedes"
                                "cajaFormulario";
        grid-template-columns: 1fr ; 
        .tituloContacto{
            grid-area: tituloContacto;
            h1{
                position: relative;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                margin-top: 150px;
                letter-spacing: 5px;   
                font-size: calc(1.9em + 1vw);
                color: rgb(18, 41, 250);
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            p{
                color: $text-black;
                text-align: center;
                margin: 5%;
                font-size: calc(0.8em + 1vw);;
            }
        }   
        .Redes{
            grid-area: cajaRedes;
            background-color: $gris-fondo;
            box-shadow: $box-shadow;
            h2{
                text-align: center;
                color: $text-black;
                font-size: calc(1.5em + 1vw);
                margin: 2% auto;
            }
            .logos{
                display: flex;
                justify-content: center;
                margin: 3%;
                width: 30%;
                margin-left: 35%;
                @media screen and (max-width:768px){
                    display: flex;
                    flex-direction: column;
                    width: 20%;
                }
                @media screen and (max-width:1024px){
                    width: 40%;
                    margin: 0% auto;
                }
                .logoRedes{
                    text-decoration: none;
                    color: $text-black;
                    font-size: calc(0.3em + 1vw);
                    display: flex;
                    flex-direction: column;
                    align-items:center; 
                    margin: 2%;
                    @media screen and (max-width:768px){
                        font-size: 0.8em
                        }
                    img{
                        width: 40%;
                        @media screen and (max-width:768px){
                            width: 30%;
                        }
                    }
                }
            }
        }

        /*ESTILOS FORMULARIO*/

        .cajaFormulario{
            grid-area: cajaFormulario;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5%;
            .formulario{
                background-color: $background-contacto;
                align-items: center;
                width: 50%;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                border-radius: 20px;
                padding: 2%;
                box-shadow: $box-shadow;
                @media screen and (max-width:768px){
                    margin-top: 5%;
                    width: 100%;
                }
                .tituloFormulario{
                    color: $text-black;
                    margin-bottom: 3%;
                    font-weight: 500;
                    font-size: calc(0.6em + 1vw);
                    text-align: center;
                    @media screen and (max-width:768px){
                        margin: 5%;
                        font-size: calc(0.8em + 1vw);
                    }
                }
                fieldset{
                    label{
                        font-size: calc(0.4em + 1vw);
                        @media screen and (max-width:768px){
                            font-size: 1em;
                        }
                    }
                    .tipoCliente{
                        display: flex;
                        align-items: center;                   
                        @media screen and (max-width:480px){
                            margin: 2% 0 5% 0;
                        }
                        .textoTipo{
                            margin: 3% 4% 3% 0%;
                            font-size: calc(0.1em + 1vw);
                            @media screen and (max-width:768px){
                                font-size: 1em;
                            }
                        }
                        select{
                            margin-left: 4%;
                        }
                    }
                    .textarea{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h4{
                            font-size: calc(0.5em + 1vw);
                            font-weight: 100;
                            text-align: center;
                        }
                    }
                    .terminosYcondiciones{
                        display: flex;
                        justify-content: center;
                        margin: 2%;
                        input{
                            margin: 6px;
                        }
                    }
                    .botones{
                        display: flex;
                        justify-content: center;
                        .boton{
                            padding: map-get($map: $standard, $key: padding-standard);
                            border-radius: map-get($map: $standard, $key: border-standard);
                            background-color:map-get($map: $standard, $key:background-standard );
                            font-size: map-get($map: $standard, $key:font-standard );
                            font-weight: map-get($map: $standard, $key:weight-standard);
                        }
                    }
                }
            }
        }
    }