

/*--------------------------------------------------------
ESTILOS INDEX
--------------------------------------------------------*/
.container-fluid{
    main{
        .videosPresentacion > video{
            width: 100%;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        }
        #tituloHome{
            position: relative;
            text-align: center;
            text-transform: uppercase;
            margin-top: 5%;
            letter-spacing: 5px;   
            font-size: calc(1.9em + 1vw);
            color: rgb(18, 41, 250);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    }
}